/* YOUR CUSTOM STYLES */
body{
	width: 100%;
	font-family: roboto;
	background: #f5f5f5;
}
@font-face {
    font-family: myFirstFont;
    src: url(../font/crackvetica/Crackvetica.ttf);
}

.inverse{
	background: black;
}

#navbarNav1 li{
	margin-right: 50px;
}

.mosque{
	width: 100%;
	height: 600px;
}
.carousel-caption{
	bottom: 100px;
}
h1, h2{
	font-family: Crackvetica;
}
.btn-border-default{
	border: 7px solid white;
	background: transparent;
}
.bottons{
	margin-top: 70px;
}
.login{
	width: 160px;
}
.section1{
	margin-top: 40px;
}
.image{
	width: 100%;
	height: 300px;
}
.section2{
	margin-top: 70px;
}
.head{
	margin-bottom: 50px;
}
ol{
	margin-top: 150px;
}
.section3{
	margin-top: 40px;
	height: 116px;
	background: #98aba4;
}
.col2{
	background: #4285F4;
	color: white;
	padding: 40px 0 40px 0;
	margin-top: -45px;
	border-radius: 30px;
	border: 23px solid white;

}

.section4{
	margin-top: 150px;
	
}

.col4{
	padding-left: 0px;
	padding-right: 0px;
}
.ramadan2{
	margin-left: -80px;
	margin-top: 100px;
}
.modal-body{
	background: url(../img/sec.png)no-repeat;
	background-size: cover;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.modal-backdrop{
	z-index: 1;
}
.envelop{

}

.social{
	margin-top: -20px;
	padding-bottom: 20px;

}
.imgsection2 {
    background: url("../img/sec.png")no-repeat;
    background-size: cover;
    background-position: 
    width: 10px;
    height: 700px;
}
/*.overlay{
	
	height: 500px;
	z-index: 500;
	color: #fff;
}*/
.section5{
	margin-top: 100px;
	
}
.contact{
	margin-top: 20px;
}
.contactimg{
	margin-left: 80px;
}
.parallax{
	background: url("../img/map.png")no-repeat;
    background-size: cover;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.foot{
	background: #46c657;
	color: white;
	padding: 30px 0 30px 0;

}



/*freefood page*/
.freefood{
	background: url("../img/freefood.jpg")no-repeat;
    background-size: cover;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
}
.jumbo{
	background: rgba(34, 34, 34, 0.3);
	z-index: 1;
	height: 170px;
	
	position: absolute;
	margin-top: 220px;
	margin-left: 90px;
		
}
.jum{
	margin-top: 30px;
}
input[type=text]{
	background: #fff;
}
select.form-control{
	background: white;
	margin-top: -0px;
	height: 30px;
	padding: 0px 0px;
}
select.form-control:focus{
	background: white;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.0rem + 2px);
}
.btn-success{
	margin-top: -0px;
    margin-left: -30px;
    padding: .58rem 2.43rem;
}
.freefood2{
	background: url("../img/freefood2.jpg")no-repeat;
    background-size: cover;
    height: 1000px;
    
    background-position: center;
}
.colimg{
	padding-left: 0px;
	padding-right: 0px;
}
.colimg2{
	
	padding-right: 0px;
}
.white{
	background: white;
}
/*zakat page*/
.jumbotron{
    background-size: cover;
    background-image: url(../img/zakatpage.jpg);
    background-position:center;
    background-attachment: fixed;
    min-height: 300px;
    text-align: center;
    color: white;
    font-family: Crackvetica; 
    
}


.header1{
    padding-top: 180px;
    line-height: 200%;
    font-size: 70px;
}

.imgrespond{
    box-shadow: 1px 1px 2px 1px #11486D;
    border-radius: 5px;
}

#res1{
    border: 2px solid;
    border-color: #11486D;
}

.header3{
    font-weight: bolder;
}
/*
h4{
    font-family: Crackvetica;
    text-align: center;
}*/

.italics{
    color: green;
    font-family: Roboto;
}

#col2{
    
    padding-top: 70px;
    margin-top: 30px;
}

#col3{
    padding-top: 70px;
    margin-top: 30px;
}

#col6{
    padding-top: 70px;
}


#pd1{
    
    text-align: center;
    padding-top: 0px;
    padding-left: 40px;
}


#p1{
    
    position: relative;
    bottom: 30px;
    
}

#nava{
    
    position: static;
    background-color: #46c657;
    height: 60px;
}
/*Hajj page*/
.jumbotron2{
    background-size: cover;
    background-image: url(../img/hajjpage.jpg);
    background-position:center;
    background-attachment: fixed;
    min-height: 300px;
    text-align: center;
    color: white;
    font-family: Crackvetica;   
   
}

/*h1{
    padding-top: 30px;
    line-height: 230%;
}

h3{
    font-weight: bold;
    
}

h4{
    font-family: Crackvetica;
    text-align: center;
}*/



#col{
   line-height: 250%;
}

#col1{
   line-height: 250%;
}
.imgrespond2{
    border: 2px solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 1px 1px 2px 1px #888888;
        
}

/*contact us page*/
.contactpage{
    background-size: cover;
    background-image: url(../img/contactpage.jpg);
    background-position:center;
    background-attachment: fixed;
    min-height: 300px;
    text-align: center;
    color: white;
    font-family: Crackvetica;
}
/*media query session*/
@media only screen and (max-width: 480px) {
    
}